# Default ignored files
workspace.xml
realtime_gesture_recog/__pycache__
realtime_gesture_recog/.idea
realtime_gesture_recog/__pycache__

# vscode & pycharm
realtime_gesture_recog/.ipynb_checkpoints

# trainning data
realtime_gesture_recog/data/

# trainning records
realtime_gesture_recog/runs/
realtime_gesture_recog/first_ui.py
realtime_gesture_recog/show.html
realtime_gesture_recog/first_ui.py
